@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    font-family: "Montserrat";

}

/* site-header */

.site-header-hero {
    /* width: 100%;
    height: 100vh;
    background-color: #151515; */
}
.header {
    background: #282828;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container {
    max-width: 1130px;
    width: 100%;
    height: 65px;
    padding-left: 14px;
    padding-right: 14px;
    margin: auto;
}
.d-flex {
    display: flex;
    justify-content: space-between;
}

.site-header__list {
    display: flex;
    align-items: center;
    gap: 30px;

}
.logo-img {
    width: 100px;
    eight: 53px;

}
.nav-link {
    color: #FFF;
    text-align: right;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
    }
.site-header__list2 {
    display: flex;
    align-items: center;
    gap: 25px;
}

/* site-header */

/* site-hero */
.container-hero {
    max-width: 1130px;
    width: 100%;
    height: 700px;
    margin: auto; 
    background-color: #171718;
}

.site-hero__desc {
   display: flex;
   flex-direction: column;
   align-items: center;
  


}
.site-hero__title {
    color: #FFF; 
    font-family: "ProstoOne";
    font-size: 100px;
    font-weight: 400;
    line-height: 75px;
    padding-top: 204px;
    }
.site-hero__official {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: #FFF;
    color: #171718;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 38px;

}

/* site-hero */

/* site-main */

.containerd-flex1 {
    max-width: 1130px;
    width: 100%;
    height: 100%;
    margin: auto; 
    background-color: #171718;
    

}
.main-comfort {
    display: flex;

}
.main-comfort1 {
    display: flex;
    align-items: center;


}
.main-text {
    max-width: 538px;
    width: 100%;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 500;
    padding-top: 40px;
  

}
.main-image {
    width: 552px;
    height: 340px;
    margin-bottom: 50px;
    margin-top: 10pxpx;
}
.main-text1 {
    width: 540px;
    height: 107px;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 500;


}

.main-image2 {
    width: 457px;
    height: 408px;
    margin-right: 63px;
}

.main-earphone {
    display: flex;
    align-items: center;
}
.main-text2 {
    width: 333px;
    color: #FFF;
    text-align: right;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
}
.main-img {
    width: 268px;
    height: 375px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
}
.main-text3::before{
    content: "";
    width: 61px;
    height: 1px;
    background: #C4C4C4;

}
.main-text3 {
    width: 333px;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
}

.main-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-top: 79px;
    padding-bottom: 55px;
   
}
.main-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 255px;
    height: 312px;
    border-radius: 6px;
    background: #FFF;

}
.main-title {
    color: #000;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;


}
.main-iphone {
    width: 127.5px;
    height: 167px;
    margin-bottom: 10px;

}
.main-price {
    color: #000;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.main-btn {
    width: 161px;
    height: 34px;
    background: #151515;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;

}

/* site-main */

/* site-footer */
.footer {
    background-color:#282828;
}
.container-footer {
    max-width: 1130px;
    width: 100%;
    height: 215px;
    margin: auto; 
    

}
.footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.footer-item {
    margin-right: 339px;
}
.nav-link {
    margin-right: 30px;
}
.footer-item__nav2 {
    margin-left: 270px;

}
.footer-image {
        display: flex;
        gap: 29px;
}

body{
    background-color: #151515;
}


/* site-footer */

